/*custom css*/
  body, h1, h2, h3, h4, h5, h6 img {
  background-color: #FFF;
  color: #62615E;
  font-family:rockwell;
  margin: 0 auto;
  /*margin-right: 125px;
  margin-left: 125px;*/
}

figcaption {
  font-size: .9em;
  text-align: center;
}

nav {
  font-size:30px;
  color: #62615E;
  background-color: #D9DBCB;
  max-width: 100%;
}

#timeline {
  display: block;
  margin: 0 auto;
}

#tablescroll {
  height: 400px;
  overflow-y: scroll;
}

a {
  color: #709FB2;
}

iframe {
  border: 1px solid #625A51;
}

.list {
  font-family:rockwell;
  overflow:auto;
  height:400px;
}


td {
  padding:10px; 
  border:solid 1px #eee;
}

#datascroll {
  height: 400px;
  overflow: scroll;
}

#datanav {
  margin: ;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #625A51;
  height:30px;
  /*width:2.5em;*/
  width: 20%;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}